@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');

* {
    font-family: 'Noto Sans TC', sans-serif;
    padding: 0px;
    margin: 0px;
    /* outline: #f00 solid thin; */
}

/* LABEL {
    outline: #00f solid thin;
} */

#familyNode {
    position: absolute;
    padding: 0;
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.node > LABEL {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.node {
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
}

.name {
    text-align: center;
    font-weight: bold;
    font-size: x-large;
}

A {
    text-decoration: none;
}

INPUT {
    display: none;
}

.male {
    background-color: #CCE5FF;
    color: #004085;
    border-color: #B8DAFF;
}

.male A {
    color: #002752;
}

.female {
    background-color: #FFC8DD;
    color: #721C24;
    border-color: #F5C6CB;
}

.female A {
    color: #491217;
}

.self {
    position: absolute;
    width: 300px;
    height: 200px;
    left: 0;
    right: 0;
    margin: auto;
}

.parents {
    position: absolute;
    width: 200px;
    height: 100px;
    left: 0;
    right: 0;
    margin: auto;
}

.sibling {
    position: absolute;
    width: 200px;
    height: 100px;
    left: 0;
    right: 0;
    margin: auto;
}

.child {
    position: absolute;
    width: 200px;
    height: 100px;
    left: 0;
    right: 0;
    margin: auto;
}

#parentsNodes {
    display: block;
    height: 200px;
    margin-bottom: 50px;
}

#companionNodes {
    display: block;
    height: 300px;
    margin: 100px;
}

#siblingNodes {
    display: block;
    height: 200px;
    margin-top: 50px;
}

#childrenNodes {
    display: block;
    height: 200px;
    margin-top: 50px;
}

.align_1_1 {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    margin: auto;
}

.align_1_2 {
    position: absolute;
    width: 50%;
    left: 0;
}

.align_2_2 {
    position: absolute;
    width: 50%;
    right: 0;
}

.align_1_3 {
    position: absolute;
    width: 33%;
    left: 0;
}

.align_2_3 {
    position: absolute;
    width: 33%;
    left: 0;
    right: 0;
    margin: auto;
}

.align_3_3 {
    position: absolute;
    width: 33%;
    right: 0;
}

.align_1_4 {
    position: absolute;
    width: 25%;
    left: 0;
}

.align_2_4 {
    position: absolute;
    width: 25%;
    left: 25%;
}

.align_3_4 {
    position: absolute;
    width: 25%;
    right: 25%;
}

.align_4_4 {
    position: absolute;
    width: 25%;
    right: 0;
}

.align_1_5 {
    position: absolute;
    width: 20%;
    left: 0;
}

.align_2_5 {
    position: absolute;
    width: 20%;
    left: 20%;
}

.align_3_5 {
    position: absolute;
    width: 20%;
    left: 0;
    right: 0;
    margin: auto;
}

.align_4_5 {
    position: absolute;
    width: 20%;
    right: 20%;
}

.align_5_5 {
    position: absolute;
    width: 20%;
    right: 0;
}

.align_1_6 {
    position: absolute;
    width: 33%;
    left: 0;
}

.align_2_6 {
    position: absolute;
    width: 33%;
    left: 0;
    right: 0;
    margin: auto;
}

.align_3_6 {
    position: absolute;
    width: 33%;
    right: 0;
}

.align_4_6 {
    position: absolute;
    width: 33%;
    bottom: -150px;
    left: 0;
}

.align_5_6 {
    position: absolute;
    width: 33%;
    bottom: -150px;
    left: 0;
    right: 0;
    margin: auto;
}

.align_6_6 {
    position: absolute;
    width: 33%;
    bottom: -150px;
    right: 0;
}

.align_1_7 {
    position: absolute;
    width: 25%;
    left: 0;
}

.align_2_7 {
    position: absolute;
    width: 25%;
    left: 25%;
}

.align_3_7 {
    position: absolute;
    width: 25%;
    right: 25%;
}

.align_4_7 {
    position: absolute;
    width: 25%;
    right: 0;
}

.align_5_7 {
    position: absolute;
    width: 33%;
    bottom: -150px;
    left: 0;
}

.align_6_7 {
    position: absolute;
    width: 33%;
    bottom: -150px;
    right: 0;
    margin: auto;
}

.align_7_7 {
    position: absolute;
    width: 33%;
    bottom: -150px;
    right: 0;
}

.align_1_8 {
    position: absolute;
    width: 25%;
    left: 0;
}

.align_2_8 {
    position: absolute;
    width: 25%;
    left: 25%;
}

.align_3_8 {
    position: absolute;
    width: 25%;
    right: 25%;
}

.align_4_8 {
    position: absolute;
    width: 25%;
    right: 0;
}

.align_5_8 {
    position: absolute;
    width: 25%;
    bottom: -150px;
    left: 0;
}

.align_6_8 {
    position: absolute;
    width: 25%;
    bottom: -150px;
    left: 25%;
}

.align_7_8 {
    position: absolute;
    width: 25%;
    bottom: -150px;
    right: 25%;
}

.align_8_8 {
    position: absolute;
    width: 25%;
    bottom: -150px;
    right: 0;
}

.align_1_9 {
    position: absolute;
    width: 20%;
    left: 0;
}

.align_2_9 {
    position: absolute;
    width: 20%;
    left: 20%;
}

.align_3_9 {
    position: absolute;
    width: 20%;
    left: 0;
    right: 0;
    margin: auto;
}

.align_4_9 {
    position: absolute;
    width: 20%;
    right: 20%;
}

.align_5_9 {
    position: absolute;
    width: 20%;
    right: 0;
}

.align_6_9 {
    position: absolute;
    width: 25%;
    bottom: -150px;
    left: 0;
}

.align_7_9 {
    position: absolute;
    width: 25%;
    bottom: -150px;
    left: 25%;
}

.align_8_9 {
    position: absolute;
    width: 25%;
    bottom: -150px;
    right: 25%;
}

.align_9_9 {
    position: absolute;
    width: 25%;
    bottom: -150px;
    right: 0;
}

.align_1_10 {
    position: absolute;
    width: 20%;
    left: 0;
}

.align_2_10 {
    position: absolute;
    width: 20%;
    left: 20%;
}

.align_3_10 {
    position: absolute;
    width: 20%;
    left: 0;
    right: 0;
    margin: auto;
}

.align_4_10 {
    position: absolute;
    width: 20%;
    right: 20%;
}

.align_5_10 {
    position: absolute;
    width: 20%;
    right: 0;
}

.align_6_10 {
    position: absolute;
    width: 20%;
    bottom: -150px;
    left: 0;
}

.align_7_10 {
    position: absolute;
    width: 20%;
    bottom: -150px;
    left: 20%;
}

.align_8_10 {
    position: absolute;
    width: 20%;
    bottom: -150px;
    left: 0;
    right: 0;
    margin: auto;
}

.align_9_10 {
    position: absolute;
    width: 20%;
    bottom: -150px;
    right: 20%;
}

.align_10_10 {
    position: absolute;
    width: 20%;
    bottom: -150px;
    right: 0;
}
